.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.140625;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.132324;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.140625;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.214355;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.758789;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls5{letter-spacing:-0.196400px;}
.ls3{letter-spacing:-0.184400px;}
.ls2{letter-spacing:-0.122800px;}
.ls1{letter-spacing:-0.117200px;}
.ls0{letter-spacing:0.000000px;}
.ls4{letter-spacing:0.043600px;}
.ls6{letter-spacing:3.168000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._7{margin-left:-2.154240px;}
._2{margin-left:-1.059840px;}
._1{width:1.368960px;}
._6{width:2.438400px;}
._5{width:4.195200px;}
._4{width:6.579840px;}
._3{width:8.081280px;}
._8{width:9.260160px;}
._9{width:15.872000px;}
._0{width:905.725760px;}
.fc4{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fc1{color:rgb(212,56,12);}
.fc2{color:rgb(108,140,202);}
.fc5{color:rgb(211,55,11);}
.fc3{color:rgb(66,99,128);}
.fs0{font-size:42.240000px;}
.fs2{font-size:44.160000px;}
.fs3{font-size:48.000000px;}
.fs1{font-size:56.160000px;}
.fs4{font-size:80.160000px;}
.y2e{bottom:-13.200000px;}
.y1{bottom:0.000000px;}
.y2d{bottom:8.160000px;}
.y3{bottom:12.120000px;}
.y2c{bottom:22.080000px;}
.y0{bottom:22.500000px;}
.y2b{bottom:36.030000px;}
.y23{bottom:43.824000px;}
.y2a{bottom:50.070000px;}
.y29{bottom:63.990000px;}
.y22{bottom:66.024000px;}
.y28{bottom:77.910000px;}
.y21{bottom:90.024000px;}
.y27{bottom:91.830000px;}
.y26{bottom:105.750000px;}
.y20{bottom:108.140000px;}
.y25{bottom:119.670000px;}
.y1f{bottom:122.060000px;}
.y1e{bottom:135.980000px;}
.y1d{bottom:150.020000px;}
.y1c{bottom:163.940000px;}
.y1b{bottom:177.860000px;}
.y1a{bottom:203.180000px;}
.y19{bottom:222.770000px;}
.y18{bottom:242.210000px;}
.y17{bottom:261.770000px;}
.y16{bottom:289.370000px;}
.y15{bottom:301.610000px;}
.y14{bottom:313.850000px;}
.y13{bottom:326.090000px;}
.y12{bottom:338.210000px;}
.y11{bottom:360.530000px;}
.y10{bottom:373.370000px;}
.yf{bottom:396.070000px;}
.ye{bottom:408.910000px;}
.yd{bottom:431.590000px;}
.yc{bottom:444.430000px;}
.yb{bottom:457.270000px;}
.ya{bottom:480.670000px;}
.y9{bottom:496.990000px;}
.y8{bottom:510.070000px;}
.y24{bottom:513.910000px;}
.y7{bottom:650.980000px;}
.y6{bottom:660.940000px;}
.y5{bottom:737.640000px;}
.y4{bottom:759.840000px;}
.y2{bottom:782.040000px;}
.h3{height:38.445000px;}
.h2{height:39.352500px;}
.h6{height:40.192500px;}
.h5{height:41.141250px;}
.hb{height:43.687500px;}
.h8{height:44.718750px;}
.h9{height:49.898438px;}
.h7{height:51.827344px;}
.h4{height:52.320937px;}
.hc{height:72.958125px;}
.ha{height:130.940000px;}
.h1{height:769.500000px;}
.h0{height:792.000000px;}
.w2{width:507.820000px;}
.w1{width:611.999991px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.xf{left:7.224000px;}
.x1{left:17.999991px;}
.x2{left:25.199991px;}
.x10{left:43.220000px;}
.x4{left:61.199991px;}
.x7{left:62.999991px;}
.x8{left:171.379991px;}
.xb{left:209.689991px;}
.x9{left:245.329991px;}
.xe{left:255.289991px;}
.xd{left:263.209991px;}
.x6{left:269.329991px;}
.xa{left:273.289991px;}
.xc{left:292.489991px;}
.x3{left:396.069991px;}
.x5{left:569.739991px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls5{letter-spacing:-0.261867pt;}
.ls3{letter-spacing:-0.245867pt;}
.ls2{letter-spacing:-0.163733pt;}
.ls1{letter-spacing:-0.156267pt;}
.ls0{letter-spacing:0.000000pt;}
.ls4{letter-spacing:0.058133pt;}
.ls6{letter-spacing:4.224000pt;}
.ws0{word-spacing:0.000000pt;}
._7{margin-left:-2.872320pt;}
._2{margin-left:-1.413120pt;}
._1{width:1.825280pt;}
._6{width:3.251200pt;}
._5{width:5.593600pt;}
._4{width:8.773120pt;}
._3{width:10.775040pt;}
._8{width:12.346880pt;}
._9{width:21.162667pt;}
._0{width:1207.634347pt;}
.fs0{font-size:56.320000pt;}
.fs2{font-size:58.880000pt;}
.fs3{font-size:64.000000pt;}
.fs1{font-size:74.880000pt;}
.fs4{font-size:106.880000pt;}
.y2e{bottom:-17.600000pt;}
.y1{bottom:0.000000pt;}
.y2d{bottom:10.880000pt;}
.y3{bottom:16.160000pt;}
.y2c{bottom:29.440000pt;}
.y0{bottom:30.000000pt;}
.y2b{bottom:48.040000pt;}
.y23{bottom:58.432000pt;}
.y2a{bottom:66.760000pt;}
.y29{bottom:85.320000pt;}
.y22{bottom:88.032000pt;}
.y28{bottom:103.880000pt;}
.y21{bottom:120.032000pt;}
.y27{bottom:122.440000pt;}
.y26{bottom:141.000000pt;}
.y20{bottom:144.186667pt;}
.y25{bottom:159.560000pt;}
.y1f{bottom:162.746667pt;}
.y1e{bottom:181.306667pt;}
.y1d{bottom:200.026667pt;}
.y1c{bottom:218.586667pt;}
.y1b{bottom:237.146667pt;}
.y1a{bottom:270.906667pt;}
.y19{bottom:297.026667pt;}
.y18{bottom:322.946667pt;}
.y17{bottom:349.026667pt;}
.y16{bottom:385.826667pt;}
.y15{bottom:402.146667pt;}
.y14{bottom:418.466667pt;}
.y13{bottom:434.786667pt;}
.y12{bottom:450.946667pt;}
.y11{bottom:480.706667pt;}
.y10{bottom:497.826667pt;}
.yf{bottom:528.093333pt;}
.ye{bottom:545.213333pt;}
.yd{bottom:575.453333pt;}
.yc{bottom:592.573333pt;}
.yb{bottom:609.693333pt;}
.ya{bottom:640.893333pt;}
.y9{bottom:662.653333pt;}
.y8{bottom:680.093333pt;}
.y24{bottom:685.213333pt;}
.y7{bottom:867.973333pt;}
.y6{bottom:881.253333pt;}
.y5{bottom:983.520000pt;}
.y4{bottom:1013.120000pt;}
.y2{bottom:1042.720000pt;}
.h3{height:51.260000pt;}
.h2{height:52.470000pt;}
.h6{height:53.590000pt;}
.h5{height:54.855000pt;}
.hb{height:58.250000pt;}
.h8{height:59.625000pt;}
.h9{height:66.531250pt;}
.h7{height:69.103125pt;}
.h4{height:69.761250pt;}
.hc{height:97.277500pt;}
.ha{height:174.586667pt;}
.h1{height:1026.000000pt;}
.h0{height:1056.000000pt;}
.w2{width:677.093333pt;}
.w1{width:815.999988pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.xf{left:9.632000pt;}
.x1{left:23.999988pt;}
.x2{left:33.599988pt;}
.x10{left:57.626667pt;}
.x4{left:81.599988pt;}
.x7{left:83.999988pt;}
.x8{left:228.506655pt;}
.xb{left:279.586655pt;}
.x9{left:327.106655pt;}
.xe{left:340.386655pt;}
.xd{left:350.946655pt;}
.x6{left:359.106655pt;}
.xa{left:364.386655pt;}
.xc{left:389.986655pt;}
.x3{left:528.093321pt;}
.x5{left:759.653321pt;}
}
